<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="GXDLMSDirector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><userSettings>
        <GXDLMSDirector.Properties.Settings>
            <setting name="SelectedManufacturer" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewStatusbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewTree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewGroups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventsSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationAutoReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraceType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TraceViewHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EventsViewHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExternalMedias" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CTT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConformanceSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="LogComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraceComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationsComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDuration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraceTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceDuration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveDC" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifyBlockCipherKey" serializeAs="String">
                <value>000102030405060708090A0B0C0D0E0F</value>
            </setting>
            <setting name="NotifySystemTitle" serializeAs="String">
                <value>47 75 72 75 78 31 32 33</value>
            </setting>
            <setting name="Pdu" serializeAs="String">
                <value />
            </setting>
            <setting name="Message" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify" serializeAs="String">
                <value />
            </setting>
            <setting name="Security" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SystemTitle" serializeAs="String">
                <value>4D4D4D0000BC614E</value>
            </setting>
            <setting name="BlockCipherKey" serializeAs="String">
                <value>000102030405060708090A0B0C0D0E0F</value>
            </setting>
            <setting name="AuthenticationKey" serializeAs="String">
                <value>D0D1D2D3D4D5D6D7D8D9DADBDCDDDEDF</value>
            </setting>
            <setting name="InvocationCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Challenge" serializeAs="String">
                <value />
            </setting>
            <setting name="Data" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerSystemTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="DedicatedKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialMonitorSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="MacroFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="MacroFollowLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacroRaw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacroBreakOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MacroHideSucceeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacroIHideVerified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacroHideDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacroHideFailed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyAuthenticationKey" serializeAs="String">
                <value>D0D1D2D3D4D5D6D7D8D9DADBDCDDDEDF</value>
            </setting>
            <setting name="MacroEditorInvokeCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseMeterTimeZone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HdlcAddressUseOpticalProbe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HdlcAddressMedia" serializeAs="String">
                <value />
            </setting>
            <setting name="HdlcAddressSerialSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="HdlcAddressNetworkSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="HdlcAddressScanBaudRates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HdlcAddressBaudRates" serializeAs="String">
                <value />
            </setting>
            <setting name="PlcMedia" serializeAs="String">
                <value />
            </setting>
            <setting name="PlcSerialSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="PlcNetworkSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="PlcInterface" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlcSerialSettingsActiveInitiator" serializeAs="String">
                <value>00 11 22 33 44 55 66 77 88</value>
            </setting>
            <setting name="SecuritySuite" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ClientSigningKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientAgreementKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerSigningKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerAgreementKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneratorAddress" serializeAs="String">
                <value>https://certificates.gurux.fi/api/CertificateGenerator</value>
            </setting>
            <setting name="Signing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HdlcServerAddresses" serializeAs="String">
                <value>1, 145, 127,16383</value>
            </setting>
            <setting name="HdlcClientAddresses" serializeAs="String">
                <value>16, 1, 100</value>
            </setting>
            <setting name="HdlcSearchInitialWaitTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HdlcSearchWaitTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TestFoundMetersFirst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestFailedClientsLast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranslatorInterface" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranslatorShow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TranslatorFollow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HdlcConnectionDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TranslatorStandard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranslatorHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranslatorFrame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranslatorXml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrameNumber" serializeAs="String">
                <value>True</value>
            </setting>
        </GXDLMSDirector.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MQTTnet" publicKeyToken="b69712f52770c0a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.16.0" newVersion="3.0.16.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
