<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GXDLMSDirector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <GXDLMSDirector.Properties.Settings>
            <setting name="SelectedManufacturer" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewStatusbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewTree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewGroups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventsSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationAutoReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraceType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TraceViewHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EventsViewHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExternalMedias" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CTT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConformanceSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="LogComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraceComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationsComments" serializeAs="String">
                <value>False</value>
            </setting>
        </GXDLMSDirector.Properties.Settings>
    </userSettings>
</configuration>
