<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.1.1905.1301" targetFramework="net46" />
  <package id="Gurux.DLMS" version="8.5.1905.2201" targetFramework="net46" />
  <package id="Gurux.DLMS.UI" version="8.5.1906.401" targetFramework="net46" />
  <package id="Gurux.MQTT" version="8.1.1904.3001" targetFramework="net46" />
  <package id="Gurux.Net" version="8.1.1905.1701" targetFramework="net46" />
  <package id="Gurux.Serial" version="8.1.1905.1701" targetFramework="net46" />
  <package id="Gurux.Terminal" version="8.1.1905.1701" targetFramework="net46" />
  <package id="MQTTnet" version="3.0.2" targetFramework="net46" />
</packages>