<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.1.1811.1101" targetFramework="net40" requireReinstallation="true" />
  <package id="Gurux.DLMS" version="8.5.1905.1304" targetFramework="net46" />
  <package id="Gurux.DLMS.UI" version="8.5.1905.1301" targetFramework="net46" />
  <package id="Gurux.MQTT" version="8.1.1904.2501" targetFramework="net46" />
  <package id="Gurux.Net" version="8.1.1903.601" targetFramework="net40" requireReinstallation="true" />
  <package id="Gurux.Serial" version="8.1.1904.1802" targetFramework="net40" requireReinstallation="true" />
  <package id="Gurux.Terminal" version="8.1.1811.1101" targetFramework="net40" requireReinstallation="true" />
  <package id="MQTTnet" version="2.8.5" targetFramework="net46" />
</packages>