<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.1.1801.1201" targetFramework="net40" />
  <package id="Gurux.DLMS" version="8.5.1804.301" targetFramework="net40" />
  <package id="Gurux.DLMS.UI" version="8.5.1804.301" targetFramework="net40" />
  <package id="Gurux.Net" version="8.1.1801.1201" targetFramework="net40" />
  <package id="Gurux.Serial" version="8.1.1801.1201" targetFramework="net40" />
  <package id="Gurux.Terminal" version="8.1.1801.1201" targetFramework="net40" />
</packages>